<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280502481456-g23ej4l2pkv9kr5i781vomv6dgsujmia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280502481456-g23ej4l2pkv9kr5i781vomv6dgsujmia</string>
	<key>API_KEY</key>
	<string>AIzaSyAJXyJwE5uLOg8QK0nv-KZHa9QUiKtuSjs</string>
	<key>GCM_SENDER_ID</key>
	<string>280502481456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alizhussupov.BitriseDemo</string>
	<key>PROJECT_ID</key>
	<string>bitrisedemo-a4f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>bitrisedemo-a4f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280502481456:ios:7d2a043c3e8c33a065f3f5</string>
	<key>DATABASE_URL</key>
	<string>https://bitrisedemo-a4f7d.firebaseio.com</string>
</dict>
</plist>